
.quiz_body{
background-color:rgb(193, 175, 152);
    width: 1000px;
    height: 550px;
    margin-left: 17%;
  margin-top: 70px;
  border-radius: 15px;
  border-color: black;
}
.content{
  border-radius: 20px;
    display: block;
    background-color: rgb(239, 238, 238);
    width: 550px;
    height: 350px;
    margin-left: 21%;
    margin-top: 50px;
    padding-top: 15px;
    padding-left: 20px;
   font-family: Arial, sans-serif;
    text-transform: capitalize;
}
#next-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} 
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:rgb(193, 175, 152);
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  width: 180px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 35%;
}

.button span {
  margin-top: -2%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  
    .content {
      margin-top: 30px;
    }
  
    h2 {
      margin: 0;
      margin-bottom: 10px;
    }
  
    ul {
      padding-left: 0;
    }
  
    li {
      margin-bottom: 10px;
    }
  
    button {
      width: 500px;
      height: 40px;
      background-color: rgb(193, 175, 152);
      border: none;
      padding: 5px;
      box-sizing: border-box;
    }
  
    #next-button,
    #return-button {
      margin-top: 15px;
    }
  
    #score {
      margin-top: 30px;
    }